@import url('https://fonts.googleapis.com/css?family=Pacifico|Permanent+Marker');

.wrapper
{
    width: 200px;
    margin: 30px;
    padding: 30px;

    background: yellow;
    line-height: 100%;
}

.text1
{
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;

    right: 20px;

    height: 60px;
    margin-bottom: 30px;

    background: orange;
}

.text2
{
    font-family: 'Pacifico', cursive;

    height: 80px;
    margin-bottom: 30px;

    background: orange;
    line-height: 1.4em;
}

.text3
{
    overflow: auto;

    height: 80px;
    margin-bottom: 30px;

    resize: both;

    background: orange;
}


.text4
{
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;

    width: 70px;
    height: 80px;
    margin-bottom: 30px;

    background: orange;
}

.text5
{
    font-family: 'Arial', cursive;
    width: 120px;
    height: 40px;
    margin-bottom: 30px;

    border-radius: 6px;
    background: red;
    padding-left: 10px;
    padding-right: 10px;
}

.text6
{
    width: 60px;
    height: 30px;

    background: green;
    margin-bottom: 30px;

    line-height: 100%;
}

.text7 {
    width: 100px;
    height: 70px;
    background: pink;
    font-weight: bold;
    line-height: 1.4em;
}
